/**
 * fil: css/style.css
 **/




/* Ændre tabellen tykkelse */ 
table {
    border: 7px solid black;
    border-collapse: collapse;
    
}
th, td {
    border: 2px solid black;
    
}

/* Ændre baggrundsfarven */ 
body {
     background-color: black;
    
    }

.nav-bar{
    background: black;
    height: 80px; 
    
    }
    
    .menuone{
    float:left;
    margin: 15px; 
    margin-left: 100px;
    margin-top: 5px;
    
      
}



.menuone li{
 
    display: inline-block;
    margin: 10px 5px; 
    text-transform:uppercase;
    
}

.menuone li a{
    
    text-decoration: none;
    color: #fff;
    padding: 3px 10px;
    font-family:'Roboto Condensed';
    letter-spacing: 4px;
       
}
.menutwo{
    
    float:right;
    list-style: none;
    margin: 15px;
    margin-right: 100px;
    margin-top: 5px;
    
}

.menutwo li{
 
    display: inline-block;
    margin: 10px 5px; 
    text-transform:uppercase;
    
}

.menutwo li a{
    
    text-decoration: none;
    color: #fff;
    padding: 3px 10px;
    font-family:'Roboto Condensed';
    letter-spacing: 4px;
       
}


.artikler {
 margin-top: 0px;
    border-radius: 8px;
    width:1200px;
           height:auto;
        display: block;
  margin-left: auto;
  margin-right: auto;

}

/**
 * fil: css/style.css
 **/
